.navbar{
    padding: 4.8rem 0;
}
.navbar__brand img{
    width: 130px;
}
.brand__and__toggler{
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar__collapse{
    display: none;
    padding: 5rem;
}
.navbar__collapse .nav__link{
    letter-spacing: 2px;
    transition: var(--transition);
}
.navbar__collapse .nav__link:hover, .nav__link{
    color: var(--robin-blue-color);
}

nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #91640F;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 35px;
    content: '.';
    color: transparent;
    background: #2c6b74;
    visibility: none;
    opacity: 0;
    z-index: -1;
    border-radius: 35%;
    transition: 0.3s;

  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
  }

/* smallscreen */
.navbar__smallscreen{
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--robin-blue-color);
    height: 100%;
    width: 100%;
    padding: 3rem;
    box-shadow: -3px 0 14px 0 rgba(0, 0, 0, 0.4);
    z-index: 999;
    transition: var(--transition);
}
.navbar__close--btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    transition: var(--transition);
}
.navbar__close--btn:hover{
    opacity: 0.9;
}
.navbar__smallscreen .nav__link{
    transition: var(--transition);
    letter-spacing: 1px;
    font-size: 1.8rem;
}
.navbar__smallscreen .nav__link:hover{
    padding-left: 1rem;
}
.navbar__smallscreen .nav__item{
    margin: 2.5rem 0;
}

@media(min-width: 578px){
    .navbar__smallscreen{
        width: 300px;
    }
}

@media(min-width: 992px){
    .navbar__open--btn{
        display: none;
    }
    .navbar__collapse{
        display: flex;
    }
    .navbar__collapse .navbar__nav{
        display: flex;
        align-items: center;
    }
    .navbar__collapse .nav__item{
        margin-left: 3.8rem;
    }
    .navbar__smallscreen{
        display: none;
    }
}
